{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="mt-5 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-12 offset-sm-0">
                <div class="card">
                    <div class="card-header">
                        <h1 class="h3 font-weight-normal">{{ 'Confirmed'|trans }}</h1>
                    </div>
                    <div class="card-body">
                        <p>{{ "Congratulations, %username%!"|trans({'%username%': app.user.username|default('User')}) }}</p>
                        <p>{{ "Your account has been confirmed, and you can start learning from your data."|trans }}</p>
                        <a class="btn btn-primary" href="{{ path('homepage') }}">{{ "Get Started"|trans }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
